*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    
}

.chat {
    background-color: #FFFFFF;
    min-height: 100%;
    min-width: 80%;
}

.upper_chat {
    min-height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu {
    background-color: #F9F9F9;
    min-height: 100vh;
    min-width: 20%;
    overflow-y: auto;
}

.options {
    padding: 20px;
}

.options img {
    margin-bottom: 20px;
}

.introduction_title {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight:normal;
}

.main_chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50%;
}

.main_chat img {
    position: absolute;
}

.search_text {
    border: 1px solid black;
    font-size: 16px;
    padding-left: 50px;
}

.search_text {
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 28px;
    min-width: 50%;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.chats {
    padding: 20px;
}

.chat_title {
    color: grey;
}

.chat_header {
display: flex;
flex-direction: row;
padding: 15px;
}

.upgrade {
padding-left: 325px;


}

.upgrade_but {
    background: #F1F1FB;
    border-radius: 15px;
    color: #5B5DB0;
    padding: 7px;
    font-weight: bold;
    align-items: center;
}

.options_list {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.chat_list {
    list-style-type: none;
    padding-top: 10px;
}

li {
    margin-top: 10px;
}

.menu_icons {
    display: flex;
    justify-content: space-between;
}

.chat_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chat_container img {
    left: 515px;
}